body{
    background-color: rgb(165, 197, 250);
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 2px solid black;
    padding: 8px;
    text-align:center;
    color:white;
}
td{
    background-color: rgb(103, 142, 243);
}
th{
    background-color: rgb(27, 27, 107);
}